<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:gfe="http://www.springframework.org/schema/gemfire"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:gfe-data="http://www.springframework.org/schema/data/gemfire"
       xsi:schemaLocation="http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/gemfire http://www.springframework.org/schema/data/gemfire/spring-data-gemfire.xsd">

  <!-- TODO-01: Define a client pool -->
  <!-- TODO-14: Enable subscriptions on the pool -->
  <gfe:pool subscription-enabled="true">
    <gfe:locator host="localhost" port="10334" />
  </gfe:pool>

  <!-- TODO-02: Define the overall client cache declaration and point it to the pool object created above -->
  <gfe:client-cache />

  <!-- TODO-03: Define a client region as a caching proxy for the Book -->
  <gfe:client-region id="Book" shortcut="CACHING_PROXY">
    <!-- TODO-15: Register a cache listener for the Book region-->
    <gfe:cache-listener>
      <bean class="io.pivotal.bookshop.buslogic.LoggingCacheListener" />
    </gfe:cache-listener>
    <!-- TODO-16: Register interest in key 999 (type java.lang.Long) for the Book region -->
    <gfe:key-interest>
      <value type="java.lang.Long">999</value>
    </gfe:key-interest>
  </gfe:client-region>


  <!-- TODO-06: Add a definition to create a GemfireTemplate and use the Book region -->
  <bean class="org.springframework.data.gemfire.GemfireTemplate" c:region-ref="Book" />

  <!-- TODO-11: Enable gfe-data namespace and create a gfe-data:repositories declaration that scans the appropriate package -->
  <gfe-data:repositories base-package="io.pivotal.bookshop.buslogic" />

</beans>
